.card {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
  }
  
  .weather-icon {
    width: 50px;
    height: 50px;
  }
  
  .hourly-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  